

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  background: #0180ef url('../img/glazed.svg') no-repeat -0 0%;
  background-size: contain;
  padding-top: 5%;
}

.formbox {
  box-shadow: 0 12px 57px 0 rgba(0, 0, 0, 0.3);
}

/*body:after {
  height: 100%;
  width: 100%;
  content: ' ';
  background: black;
  opacity: 0.5;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}*/

.container {
  z-index: 5;
  position: relative;
}

img {
  max-width: 100%;
}

.formbox {
  background: #fff;
}
